body {
  background: url(/fondoo.png);
}
.container {
  background: rgb(26, 165, 224);
  width: 60%;
  margin: auto;
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 35px;
}

.marca {
  color: antiquewhite;
  font-size: 20px;
}
.title_le {
  color: rgb(96, 240, 213);
  margin: auto;
  text-align: center;
}
.name-estudiante {
  background: #fff;
  margin-top: 15px;
  color: #000;
  width: 25%;
  padding: 5px;
  border-radius: 14px;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}
